<div class="structureDiv">
    <p class="structureText">Struktur</p>
    
        <p class="str">Struktur 2</p>
        <p class="strTwo1">2222</p>
        <p class="strTwo2">2222</p>
        <p class="strTwo3">2222</p>
        <p class="strTwo4">2222</p>
        <img class="downIcon" src="/assets/img/down.png" />
    
        <p class="str">Struktur 3</p>
        <p class="strTwo1">2222</p>
        <p class="strTwo2">2222</p>
        <p class="strTwo3">2222</p>
        <p class="strTwo4">2222</p>
        <img class="downIcon" src="/assets/img/down.png" />
    
        <p class="str">Struktur 4</p>
        <p class="strTwo1">2222</p>
        <p class="strTwo2">2222</p>
        <p class="strTwo3">2222</p>
        <p class="strTwo4">2222</p>
        <img class="downIcon" src="/assets/img/down.png" />
    
        <p class="str">Struktur 5</p>
        <p class="strTwo1">2222</p>
        <p class="strTwo2">2222</p>
        <p class="strTwo3">2222</p>
        <p class="strTwo4">2222</p>
        <img class="downIcon" src="/assets/img/down.png" />
    
        <p class="str">Struktur 6</p>
        <p class="strTwo1">2222</p>
        <p class="strTwo2">2222</p>
        <p class="strTwo3">2222</p>
        <p class="strTwo4">2222</p>
        <img class="downIcon" src="/assets/img/down.png" />
    
        <p class="str">Struktur 7</p>
        <p class="strTwo1">2222</p>
        <p class="strTwo2">2222</p>
        <p class="strTwo3">2222</p>
        <p class="strTwo4">2222</p>
        <img class="downIcon" src="/assets/img/down.png" />
    
        <p class="str">Struktur 8</p>
        <p class="strTwo1">2222</p>
        <p class="strTwo2">2222</p>
        <p class="strTwo3">2222</p>
        <p class="strTwo4">2222</p>
        <img class="downIcon" src="/assets/img/down.png" />
    
        <p class="str">Struktur 9</p>
        <p class="strTwo1">2222</p>
        <p class="strTwo2">2222</p>
        <p class="strTwo3">2222</p>
        <p class="strTwo4">2222</p>
        <img class="downIcon" src="/assets/img/down.png" />
    
        <p class="str">Struktur 10</p>
        <p class="strTwo1">2222</p>
        <p class="strTwo2">2222</p>
        <p class="strTwo3">2222</p>
        <p class="strTwo4">2222</p>
        <img class="downIcon" src="/assets/img/down.png" />
    
        <p class="str">Struktur 11</p>
        <p class="strTwo1">2222</p>
        <p class="strTwo2">2222</p>
        <p class="strTwo3">2222</p>
        <p class="strTwo4">2222</p>
        <img class="downIcon" src="/assets/img/down.png" />
    
        <p class="str">Struktur 12</p>
        <p class="strTwo1">2222</p>
        <p class="strTwo2">2222</p>
        <p class="strTwo3">2222</p>
        <p class="strTwo4">2222</p>
        <img class="downIcon" src="/assets/img/down.png" />
    
    </div>