<app-left-bar></app-left-bar>
<!-- search -->

<div class="rightDiv">
<img class="manPhoto" src="/assets/img/man.png" />
<img class="notification" src="/assets/img/notification.png" />
<img class="circle" src="/assets/img/circle.png" />
<hr class="horizontal" />
<p class="searchText">Axtarış</p>

<form method="POST" action="#">
<input class="nameSurname" type="text" placeholder="Ad, Soyad" />
<input class="structure" type="text" placeholder="Struktur" />
<input class="position" type="text" placeholder="Vəzifə" />
<button type="submit" class="searchBtn">Axtar</button>
</form>
<img class="threeLine" src="/assets/img/Line 3.png" />
<!-- person box -->
<div class="personBox" routerLink="/dashboard1">
    <p class="toghrul">
        <img class="imageEgiht" src="/assets/img/photo1.png" />
        Toghrul Rajab
    </p>
    <p class="emailToghrul">toghrulrajab@gmail.com</p> 
<!-- two group -->
    <div class="groupTwo">
        <p class="doubleTwo1">2222</p>
        <p class="doubleTwo2">2222</p>
        <p class="doubleTwo3">2222</p>
        <p class="doubleTwo4">2222</p>
    </div>
    <!-- structure and position -->
    <div class="spDiv">
        <p class="strucText">Struktur</p>
        <p class="marketText">Marketinq</p>
        <hr class="horizon" />
        <p class="positText">Vəzifə</p>
        <p class="direcText">Direktor</p>
    </div>
    <!-- send email -->
    <div class="sendDiv">
    <p class="sendText"> Mail at</p>
        <img class="sendMail" src="/assets/img/sentMail.png" />
    </div>

<!-- view profile -->
<div class="viewDiv" routerLink="/personal">
    <p class="viewText"> Bax</p>
        <img class="viewMail" src="/assets/img/view.png" />
    </div>
</div>

<!-- structure menu-->
<app-structure-menu></app-structure-menu>

</div>