<div class="leftDiv">
    <img class="profileL rounded-circle" src="/assets/img/image 2.png" />
    <p class="personName">Pasha Life</p>
    <p class="personMail">Pashalife@mail.com</p>
    <!-- menu -->
    <div class="menuTitle">
      <p><img class="icon" src="/assets/img/Vector.png"> <a class="menuDashboard" routerLink="/dashboard">Dashboard</a></p>
      <p><img class="icon" src="/assets/img/v2.png"> <a class="menuListItem" href="#">Tasks</a></p>
      <p><img class="icon" src="/assets/img/email.png"> <a class="menuListItem" href="#">Email</a></p>
      <p><img class="icon" src="/assets/img/person.png"> <a class="menuListItem" href="#">Contacts</a></p>
      <p><img class="icon" src="/assets/img/chat.png"> <a class="menuListItem" href="#">Chat</a></p>
      <p><img class="icon" src="/assets/img/deals.png"> <a class="menuListItem" href="#">Deals</a></p>
      <p class="pt-3"><img class="iconp" src="/assets/img/point.png"> <a class="menuListItem" href="#">Setting</a></p>
      </div>
      <hr class="horizontalLine" />
    </div>
    